{% extends 'partials/basics.html' %}
{% load static %}
{% block title %}
About
{% endblock title %}
{% block css %}
{% endblock css %}
{% block body %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
      <p>Hello, I'm <strong>Mohammad Dillawar</strong>, a passionate and dedicated Django developer with a strong love
        for creating elegant, efficient, and user-friendly web applications. I'm thrilled to share a bit about myself
        and my journey in the world of web development.</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'assets/img/Profile-img.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 body" data-aos="fade-left">
        <h3>Programmer &amp; Django Developer.</h3>
        <p class="fst-italic">
          "Coding is not just about writing lines of code; it's about crafting solutions, solving puzzles, and creating
          digital experiences that can change the world."
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 October 2002</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a
                    href="https://myfolio-41a8ab674cc7.herokuapp.com/">www.myfolio.com</a></span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+92 315 6765056</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Narowal, Punjab, Pakistan</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Undergraduate</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>dillawar612@gmail.com</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Selecting dedicated and hardworking service providers is the key to unlocking a world of possibilities. Their
          commitment leaves no room for complaints from their clients. Indeed, while many may offer their services, it
          is those unwavering in their dedication who truly stand out. Seek out the extraordinary, for in them lies the
          power to turn desires into reality. Those who persist despite challenges deserve the highest praise and
          recognition.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
{% endblock body %}
{% block scripts %}

{% endblock scripts %}