{% extends 'partials/basics.html' %}
{% load static %}

{% block title %}
Contact
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block body %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row" data-aos="fade-in">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Narowal Punjab Pakistan</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>dillawar612@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+92 315 6765056</p>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54074.06163388306!2d74.87634195000001!3d32.10631519999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39195386748c99ed%3A0x58fa5441bb1acd47!2sNarowal%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1694500886032!5m2!1sen!2s"
            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="{% url 'contact' %}" method="post">{% csrf_token %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endfor %}
            {% endif %}
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <h5>
                <span><i class="fas fa-user"></i> Name</span>
              </h5>
              <input type="text" class="form-control" name="name" required />
            </div>
            <div class="form-group col-md-6">
              <h5>
                <span><i class="fas fa-envelope"></i> Email</span>
              </h5>
              <input type="email" value="{{user.email}}" class="form-control" name="email" required />
            </div>
          </div>
          <div class="form-group">
            <h5>
              <span><i class="fas fa-phone-alt"></i> Phone No.</span>
            </h5>
            <input type="number" class="form-control" name="num" required />
          </div>

          <div class="form-group">
            <h5>
              <span><i class="fas fa-comments"></i> Message</span>
            </h5>
            <textarea type="text" class="form-control " name="desc" rows="10" required></textarea>
          </div>
          <div class="text-center"><button class="btn btn-dark mt-4" type="submit">Send Message</button></div>
        </form>
      </div>


      </form>
    </div>
  </div>

  </div>
</section>
<!-- End Contact Section -->
{% endblock body %}

{% block scripts %}

{% endblock scripts %}