{% extends 'partials/basics.html' %}
{% load static %}

{% block title %}
HOME
{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <p>I'm <span class="typed" data-typed-items="Django Developer, Python Developer, Freelancer, Volunteer"></span></p>
  </div>
</section><!-- End Hero -->


<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
  <div class="container">

    <div class="section-title">
      <h2>Facts</h2>
      <p>It takes great pains to benefit. His needs result from something that actually drives him away. Let them be
        what they want. Anyone whom anyone desires. And no one who hinders receives the others. Because he should flee
        in this office of convenience, which is here.</p>
    </div>

    <div class="row no-gutters">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
        <div class="count-box">
          <i class="bi bi-emoji-smile"></i>
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="3"
            class="purecounter"></span>
          <p><strong>Happy Clients</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="3"
            class="purecounter"></span>
          <p><strong>Projects</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="count-box">
          <i class="bi bi-headset"></i>
          <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="3"
            class="purecounter"></span>
          <p><strong>Hours Of Support</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
          <i class="bi bi-people"></i>
          <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="3"
            class="purecounter"></span>
          <p><strong>Hard Workers</strong></p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Facts Section -->

{% endblock body %}

{% block scripts %}
{% endblock scripts %}