{% extends 'partials/basics.html' %}
{% load static %}

{% block title %}
Resume
{% endblock title %}
{% block css %}

{% endblock css %}

{% block body %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Embracing the significant challenges often leads to remarkable rewards. These necessary hurdles are but
        stepping stones towards our goals. Within the realms of uncertainty, we discover hidden opportunities. It is in
        our pursuit of these opportunities that we find our true purpose. Let no obstacle deter us, for each challenge
        is a chance to shine, a testament to our resilience.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Mohammad Dillawar</h4>
          <p><em>Dynamic and dedicated Django developer with a proven track record of six months in creating efficient
              and user-focused web applications. Committed to crafting robust solutions, I am eager to contribute my
              skills and continue my journey in the world of web development.</em> </p>
          <ul>
            <li>Narowal, Punjab Pakistan</li>
            <li>+92 315 6765056</li>
            <li>dillawar612@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor's of Computer Science</h4>
          <h5>2021 - 2025</h5>
          <p><em>Al-Shifa Institute of Health Sciences, Narowal</em></p>
          <p>Aspiring computer science student driven by purpose. Committed to excellence, embracing challenges, and
            eager to achieve meaningful outcomes in the world of technology</p>
        </div>
        <div class="resume-item">
          <h4>Faculty of Sciences</h4>
          <h5>2019 - 2021</h5>
          <p><em>Royal College of Sciences, Narowal</em></p>
          <p>As an intermediate student, I was eager to learn and grow. I approached my studies with curiosity,
            diligence, and commitment, achieving academic excellence while exploring new horizons of knowledge and
            opportunities.</p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Coding Fellowship</h4>
          <h5>July 2023 - Present</h5>
          <p><em>ACM UET Lahore</em></p>
          <ul>
            <li>Deepen coding expertise and knowledge.</li>
            <li>Gain practical project exposure.</li>
            <li> Build connections with peers and professionals.</li>
            <li>Secure future tech job opportunities.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Intern Django Developer</h4>
          <h5>March 2023 - June 2023</h5>
          <p><em>Bytewise limited</em></p>
          <ul>
            <li>Contributed to creative projects with enthusiasm and a commitment to learning.</li>
            <li>Delegated tasks to a team of 7 developers within the Django framework, offering guidance and expertise
              across all project phases.
            </li>
            <li>"Supervised the evaluation of Django framework to ensure design quality and accuracy."
            </li>
            <li>Managed efficient allocation of production project budgets.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Skills</h2>
      <p>Success often demands significant effort and perseverance. True motivation arises from overcoming obstacles
        rather than being deterred by them. Let your ambitions guide you, attracting those who share your vision. Those
        who obstruct progress should not impede the journey, for progress persists when we rise above such challenges.
        This is the essence of a dynamic and forward-thinking workplace.</p>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6" data-aos="fade-up">

        <div class="progress">
          <span class="skill">HTML <i class="val">100%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">CSS <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>


        <div class="progress">
          <span class="skill">Bootstrap <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        <div class="progress">
          <span class="skill">Python <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">SQL <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>


        <div class="progress">
          <span class="skill">Version Control System <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section><!-- End Skills Section -->
{% endblock body %}

{% block scripts %}
{% endblock scripts %}