{% extends 'partials/basics.html' %}
{% load static %}

{% block title %}
Services
{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>
        I specialize in custom development tailored to your business needs, ensuring seamless alignment with your unique
        requirements. My focus is on responsive design, guaranteeing optimal user experiences across all devices. I
        prioritize scalability for future growth, implement robust security measures, optimize for SEO, and offer
        ongoing maintenance and support for sustained performance excellence.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-wrench-adjustable"></i></div>
        <h4 class="title"><a href="">Django Development</a></h4>
        <p class="description">My Django development services bring your web applications to life with the power and
          flexibility of this robust Python web framework. Whether it's building from scratch or enhancing existing
          projects, I create scalable and secure solutions tailored to your unique needs. From dynamic web applications
          to robust APIs, Django is my platform of choice to make your vision a reality.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-bricks"></i></div>
        <h4 class="title"><a href="">Front-End Development</a></h4>
        <p class="description">My front-end development services focus on crafting intuitive, responsive, and visually
          appealing user interfaces. I specialize in modern web technologies, including HTML5, CSS3, and JavaScript, to
          ensure your web applications look and perform beautifully across all devices. User experience is at the
          forefront of our design philosophy, resulting in engaging and user-friendly interfaces.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-pc-display-horizontal"></i></div>
        <h4 class="title"><a href="">Static Websites</a></h4>
        <p class="description">For a web presence that is simple yet impactful, I offer static website development.
          Static websites are perfect for showcasing your brand, portfolio, or informational content. We create elegant
          and efficient static sites that load quickly, ensuring a seamless user experience. From personal blogs to
          landing pages, I transform your ideas into visually stunning static websites.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="bi bi-body-text"></i></div>
        <h4 class="title"><a href="">Dynamic Websites</a></h4>
        <p class="description">Dynamic websites are the heart of modern online businesses. My dynamic website
          development services empower you to interact with your audience, manage content, and streamline operations. I
          build feature-rich websites that are easy to update, ensuring your online presence remains dynamic and
          competitive. Whether it's an e-commerce platform, content management system, or web application, I deliver
          dynamic solutions tailored to your goals.</p>
      </div>
    </div>
  </div>

  </div>
</section><!-- End Services Section -->
{% endblock body %}

{% block scripts %}

{% endblock scripts %}